
/* Animation CSS */

/* The following rotation animation code came from Kirk Strobeck at Stack Overflow - Source: "https://stackoverflow.com/questions/6410730/how-to-do-a-webkit-css-endless-rotation-animation" */
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
}
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.myPicArea{
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

@-webkit-keyframes antirotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes antirotating {
    from {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
}
    to {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
.antirotator{
    position: absolute;
    margin: auto;
    -webkit-animation: antirotating 2s linear infinite;
    -moz-animation: antirotating 2s linear infinite;
    -ms-animation: antirotating 2s linear infinite;
    -o-animation: antirotating 2s linear infinite;
    animation: antirotating 2s linear infinite;
}

.pImgAnimate{
    margin-left: 0px !important;
    transform: rotate(1080deg) !important;
}

/* CORE ROOT, DOM, AND GENERAL UTILITY CSS */

:root{
    --ELCblack:  rgba(25, 25, 25, 1);
    --ELCblackthin:  rgba(25, 25, 25, .7);
    --ELCwhite: rgba(247, 252, 255, 1);
    --ELCthinwhite: rgba(247, 252, 255, .4);
    --ELCblue: rgba(0, 84, 181, 1);
    --ELCteal: rgba(139, 232, 230, 1);
    --ELCtealthin: rgba(139, 232, 230, .3);
    --ELCgray: rgba(129, 127, 130, 1);
    --headFont: 'Philosopher', sans-serif;
    --utilityFont: 'Bree Serif', serif;
    --sketchFont: 'Indie Flower', cursive;
    --speechFont: 'Montserrat Alternates', sans-serif;
}

h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

h2, h3, h4, h5, h6, ul, li {
    font-family: var(--utilityFont);
}

p{
    margin: 0;
}

a:link {
    color: var(--ELCblue);
}

a:visited{
    color: var(--ELCgray);
}

a:active{
    color: var(--ELCteal);
}

.buryIt{
    display: none !important;
}

.fas:hover {
    background-color: var(--ELCtealthin);
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 8px 8px var(--ELCtealthin);
    -moz-box-shadow: 0px 0px 8px 8px var(--ELCtealthin);
    box-shadow: 0px 0px 8px 8px var(--ELCtealthin);
}

.fab:hover {
    background-color: var(--ELCtealthin);
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 8px 8px var(--ELCtealthin);
    -moz-box-shadow: 0px 0px 8px 8px var(--ELCtealthin);
    box-shadow: 0px 0px 8px 8px var(--ELCtealthin);
}

/* START OF RESPONSIVE MEDIA QUERIES */

@media screen and (min-width: 200px){

    h1{
        font-size: 7vw;
        font-family: var(--headFont);
    }

    h2{
        font-size: 4vw;
    }

    .newBody {
        background-color: var(--ELCblack);
        background-image: url("../assets/images/grunge-overlay-3.png");
        background-size: 100vw;
        color: var(--ELCwhite);
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* grid-gap: 10px; */
        padding: 0 2%;
        grid-template-areas: 
            "home   header  features"
            "webMap  feats   feats"
            "centralNav centralNav centralNav"
            "centralNav centralNav centralNav"
            "pContent pContent pContent"
            "portfolio  portfolio portfolio";
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
    }

    .headMenu{
        font-size: 6vw;
        margin-top: 15px;
        cursor: pointer;
    }

    .elcHeader{
        margin-top: 15px;
    }

    .fas{
        color: var(--ELCwhite);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--ELCblue);
    }

    .homeCorner{
        grid-area: home;
        padding-left: 20%;
        text-align: left !important;
    }

    .elcHeader{
        grid-area: header;
    }

    .featureCorner{
        grid-area: features;
        padding-right: 20%;
        text-align: right !important;
    }

    .tail{
        display: none;
    }

    .elcsubTitle{
        font-family: var(--sketchFont);
        font-size: 6vw;
        margin: 0;
        font-weight: bold;
    }

    .introSection{
        position:relative;
        background-color: transparent;
        color: var(--ELCwhite);
        border: 2px solid var(--ELCblue);
        border-radius: 50px;
        padding: 5px 12px;
    }

    .introSection:after{
        background-color: none;
        background-color: var(--ELCthinwhite);
        border-radius: 50px;
        content:"";
        display:block;
        position: absolute;
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        z-index: -1;
    }

    .introTitle{
        margin-top: 15px;
        font-size: 7vw;
        font-weight: bold;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--ELCblack);
    }
    
    .introText{
        padding: 0px 5px;
        margin-bottom: 5px;
    }

    .hardBubble {
        position:relative;
        background-color: transparent;
        color: var(--ELCblack);
        border: 2px solid var(--ELCblue);
        border-radius: 90px;
        padding: 10px 20px;
    }

    .hardBubble:after {
        background-color: none;
        background-color: var(--ELCwhite);
        border-radius: 90px;
        content:"";
        display:block;
        position: absolute;
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        z-index: -1
    }

    .mainText{
        font-size: 4vw;
        font-family: var(--speechFont);
        margin-top: 2%;
    }
    
    .aboutMeSection{
    
    }
    
    .socialBar{
        display: grid;
        font-size: 2vw;
        margin-top: 2%;
        grid-gap: 10px;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: 
            ".  linkedIn    gitHub  aboutTitle   aboutTitle  aboutTitle   twitter facebook    .";
    }

    .farLeftSoc{
        grid-area: linkedIn !important;
        grid-column: 2;
    }

    .github{
        grid-area: gitHub !important;
    }

    .aboutMeTitle{
        grid-area: aboutTitle !important;
    }


    .twitter{
        grid-area: twitter !important;
    }

    .facebook{
        grid-area: facebook !important;
    }

    .fab{
        font-size: 6vw;
    }
    
    .aboutMeTitle{
        grid-column: 1 / -1;
    }
    
    .aboutMeText{
        margin-bottom: 2% !important;
    }

    .downloadResume{
        margin-bottom: 10%;
    }
    
    .fa-file{
        margin-right: 10px;
        cursor: pointer;
    }
    
    .contactMeSection{
        display: grid;
        justify-items: center;
        align-content: center;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "contactTitle  contactTitle"
            "contactText  contactText"
            "contactForm contactForm"
    }

    .contactMeTitle{
        grid-area: contactTitle;
        font-size: 6vw;
    }

    .contactMeText{
        grid-area: contactText;
        margin-top: 0;
    }

    .contactForm{
        display: grid;
        grid-area: contactForm;
        padding: 0px 10px 10px;
        margin-bottom: 10px;
        grid-gap: 10px;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "nameTitle  nameTitle"
            "nameBox    nameBox"
            "emailTitle emailTitle"
            "emailBox emailBox"
            "messageBox messageBox"
            "submitBtn submitBtn";
    }

    .formText{
        font-family: var(--speechFont);
        font-size: 5vw;
    }

    .nameTitle{
        grid-area: nameTitle;
    }

    .nameBox{
        grid-area: nameBox;
        width: 80%;
    }

    .emailTitle{
        grid-area: emailTitle;
    }

    .emailBox{
        grid-area: emailBox;
        width: 80%;
    }

    .messageBox{
        grid-area: messageBox;
        width: 90%;
    }

    .submitBtn{
        grid-area: submitBtn;
        font-size: 5vw;
        font-family: var(--utilityFont);
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .sidebar1{
        grid-area: webMap;
    }
    
    .primaryContent{
        grid-area: pContent;
    }
    
    .sidebar2{
        grid-area: feats;
    }
    
    .centralNav{
        grid-area: centralNav;
        display: grid;
        grid-gap: 5px;
        padding: 5px;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        /* repeat(3, 1fr); */
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "navleft mePic navright"
            "navleft mePic navright";
    }
    
    .navAreas{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    
    .navAreas{
        list-style-type: none;
    }
    
    .navLeft{
        grid-area: navleft;
        justify-self: end;
    }
    
    .navRight{
        grid-area: navright;
        justify-self: start;
    }
    
    .navItem {
        cursor: pointer;
        position:relative;
        background-color: transparent;
        color: var(--ELCblack);
        border: 2px solid var(--ELCblue);
        border-radius: 100px;
        padding: 10px 5px;
    }
    
    .navItem:after {
        background-color: var(--ELCwhite);
        border-radius: 100px;
        content:"";
        display:block;
        position: absolute;
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        z-index: -1
    }
    
    .navItem:hover{
        background-color: var(--ELCtealthin);
        -webkit-box-shadow: 0px 0px 8px 8px var(--ELCtealthin);
        -moz-box-shadow: 0px 0px 8px 8px var(--ELCtealthin);
        box-shadow: 0px 0px 8px 8px var(--ELCtealthin);
    }
    
    .tail{
        position: absolute;
        color: var(--ELCwhite);
        font-size: 45px;
        left: 0;
        right: 5%;
        bottom: 0;
        z-index: -1;
    }
    
    .leftTail{
        top: 70%;
        -webkit-transform: rotate(50deg);
    }
    
    .rightTail{
        top: 50%;
        /* The following technique to mirror text came from methodofaction at Stack Overflow. Source: "https://stackoverflow.com/questions/5406368/can-you-use-css-to-mirror-flip-text" */
        -moz-transform: rotate(-50deg) scale(-1, 1);
        -webkit-transform: rotate(-50deg) scale(-1, 1);
        -o-transform: rotate(-50deg) scale(-1, 1);
        -ms-transform: rotate(-50deg) scale(-1, 1);
        transform: rotate(-50deg) scale(-1, 1);
    }
    
    .portfolioNavItem{
        grid-row: span 2;
    }

    .absolutePicArea{
        grid-area: mePic;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .myPicArea{
        width: 100%;
    }
    
    .picWrapper{
        display: flex;
        position: relative;
        justify-content: center;
        align-content: center;
        width: 100%;
        margin: auto;
        border-radius: 50%;
        background: linear-gradient(to right, var(--ELCteal), var(--ELCblue));
    }
    /* This picture overlap to make height equal width stuff all came from von Marc Hinse at MadeMyDay.de - Source: "http://www.mademyday.de/css-height-equals-width-with-pure-css.html" */
    .picWrapper:before{
        content: "";
        display: block;
        padding-top: 100%;
    }
    
    .antirotator{
        width: 100%;
        height: 100%;
    }
    
    .myPic{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin: auto;
        width: 97%;
        border-radius: 50%;
    }
    
    .portfolioDisplay{
        display: grid;
        grid-gap: 10px;
        margin-bottom: 200px;
        justify-items: center;
        align-items: center;
        grid-area: portfolio;
        grid-gap: 0;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .projectBtn{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        padding: 2%;
        width: 95%;
        border-radius: 50%;
        background-color: var(--ELCblackthin);
        color: var(--ELCwhite) !important;
        z-index: 1;
    }

    .projectBtn:hover{
        opacity: 1;
    }

    .projectGit{
        font-size: 4vw;
        color: var(--ELCwhite) !important;
        position: absolute;
        text-align: center;
        right: -5%;
        bottom: -5%;
        z-index: 2;
    }
    
    .portfolioItemWrapper{
        width: 150px;
        height: 150px;
        position:relative;
        background-color: var(--ELCblack);
        color: var(--ELCblack);
        border: 2px solid var(--ELCblue);
        border-radius: 50%;
        padding: .5%;
        margin-left: -5000px;
        margin-bottom: 55px;
        -webkit-transition: all 1.5s ease-in-out;
        -moz-transition: all 1.5s ease-in-out;
        -ms-transition: all 1.5s ease-in-out;
        -o-transition: all 1.5s ease-in-out;
        transition: all 1.5s ease-in-out;
    }
    
    .portfolioItemWrapper:before{
        content: "";
        display: block;
        padding-top: 100%;
    }
    
    .portfolioItem{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 150px;
        height: auto;
        cursor: pointer;
    }
    
    .pImg{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin: auto;
        width: 150px;
        height: 150px;
        border: 2px white solid;
        border-radius: 50%;
    }
    
    .rpsPic{
        background-color: var(--ELCthinwhite)
    }
    
    .pImg:hover{
    
    }
}

@media screen and (min-width: 320px){

    
    .navItem {
        border-radius: 25px;
        padding: 5px 10px;
    }

    .navItem:after {
        border-radius: 20px;
    }

    .tail{
        display: block;
        position: absolute;
        color: var(--ELCwhite);
        font-size: 35px;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    
    .leftTail{
        top: 40%;
        right: -70%;
        -webkit-transform: rotate(50deg);
    }
    
    .rightTail{
        top: 45%;
        left: -70%;
        /* The following technique to mirror text came from methodofaction at Stack Overflow. Source: "https://stackoverflow.com/questions/5406368/can-you-use-css-to-mirror-flip-text" */
        -moz-transform: rotate(-50deg) scale(-1, 1);
        -webkit-transform: rotate(-50deg) scale(-1, 1);
        -o-transform: rotate(-50deg) scale(-1, 1);
        -ms-transform: rotate(-50deg) scale(-1, 1);
        transform: rotate(-50deg) scale(-1, 1);
    }

    .absolutePicArea{
        width: 120px;
        height: 120px;
    }


}

@media screen and (min-width: 450px){

    h1{
        font-size: 5vw;
    }

    h2{
        font-size: 3.5vw;
    }

    .elcsubTitle{
        font-size: 4vw;
    }

    .introTitle{
        margin-top: 5px;
        font-size: 5vw;
    }

    .introText{
        font-size: 3vw;
    }

    .mainText{
        font-size: 3vw;
    }

    .portfolioText{
        margin-bottom: 2%;
    }
    
    .fab{
        font-size: 4vw;
    }

    .absolutePicArea{
        width: 150px;
        height: 150px;
    }

    .contactMeTitle{
        font-size: 5vw;
    }

    .formText{
        font-size: 4vw;
    }

    .tail{
        font-size: 6vw;
        top: 55%;
    }

    .downloadResume{
        margin-bottom: 2%;
    }
}

@media screen and (min-width: 600px){

    .absolutePicArea{
        width: 175px;
        height: 175px;
    }

    .contactMeTitle{
        font-size: 4vw;
    }

    .formText{
        font-size: 3.2vw;
    } 

    .contactForm{
        grid-template-columns: 1fr auto repeat(3, 1fr);
        grid-template-areas: 
            ". nameTitle nameBox nameBox ."
            ". emailTitle emailBox emailBox emailBox"
            "messageBox messageBox messageBox messageBox messageBox"
            ". submitBtn submitBtn submitBtn .";
    }

    .nameTitle, .emailTitle{
        text-align: end;
    }

    .nameBox, .emailBox{
        justify-self: start;
    }

}

@media screen and (min-width: 775px){

    .headMenu{
        font-size: 5vw;
    }

    .elcName{
        font-size: 4.5vw;
    }

    .absolutePicArea{
        width: 200px;
        height: 200px;
    }

    .introTitle{
        font-size: 4vw;
    }

    .contactMeTitle{
        font-size: 3.5vw;
    }

    .formText{
        font-size: 2.8vw;
    } 

    .mainText{
        font-size: 2.5vw;
    }

    .submitBtn{
        font-size: 4vw;
    }

}

@media screen and (min-width: 1020px){

    h2{
        font-size: 2.8vw;
    }

    .newBody {
        grid-gap: 10px;
        grid-template-areas: 
            "home   home header header header header header header . ."
            "webMap webMap  centralNav centralNav centralNav centralNav centralNav centralNav feats feats"
            "webMap webMap  centralNav centralNav centralNav centralNav centralNav centralNav feats feats"
            "pContent pContent pContent pContent pContent pContent pContent pContent pContent pContent"
            "portfolio  portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio";
        grid-template-columns: repeat(10, 1fr);
    }

    .elcName{
        font-size: 2.5vw;
    }

    .mainText{
        margin: 1%;
        font-size: 2vw;
    }

    .fab{
        font-size: 3vw;
    }

    .downloadResume{
        font-size: 2.5vw;
    }

    .downloadResume:hover{
        background-color: var(--ELCtealthin);
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 8px 8px var(--ELCtealthin);
        -moz-box-shadow: 0px 0px 8px 8px var(--ELCtealthin);
        box-shadow: 0px 0px 8px 8px var(--ELCtealthin);
    }

    .hardBubble{
        padding: 10px 20px;
    }

    .absolutePicArea{
        width: 205px;
        height: 205px;
    }

    .contactMeSection{
        grid-gap: 15px;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        grid-template-areas: 
            "contactTitle  contactTitle contactTitle"
            "contactText   contactForm    contactForm"
            "contactText  contactForm   contactForm"
            "contactText contactForm    contactForm"
    }

    .contactMeText{
        align-self: flex-start;
    }

    .contactForm{
        grid-template-columns: 1fr auto repeat(3, 1fr);
        grid-template-areas: 
            "nameTitle nameBox nameBox . ."
            "emailTitle emailBox emailBox ."
            "messageBox messageBox messageBox messageBox messageBox"
            ". submitBtn submitBtn submitBtn .";
    }

    .formText{
        font-size: 2vw;
    }

    .portfolioItemWrapper{
        width: 150px;
        height: 150px;
    }

    .portfolioItem{
        width: 155px;
    }

    .pImg{
        width: 150px;
        height: 150px;
    }

}

/* END OF RESPONSIVENESS */

